*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;}

html{
    font-size: 62.5%;
    font-family: arial,sans-serif;}


:root{
    --colorLupa:#9aa0a6;

    --colorIcono:#5f6368;

    --colorTextoNav:rgba(0,0,0,.87);
    --colorContornoBuscador:rgba(32,33,36,.28);

    --colorNavHoverMovil:#ee3333;
    --colorFondoNavMovil:#f4f4f4;

    --colorFondoNavtablet:#f9f9f9;

    --colorTextoFooter:#70757a;
    --colorFondoFooter: #eceef1;

    --colorAzulGoogle:#1a73e8;
    --colorBlancoGoogle:white;
    --colorGrisOscuroGoogle:#dadce0;
    --colorGrisGoogle:#dfe1e5;
    --colorGrisClaroGoogle: #fafafa;

    --colorHoverIconos:#00000011;}

.barraDeNavegacion--enlace{
    font-size: 1.8rem;
    font-size: small;
    color: var(--colorTextoNav);}

.menu{
    width: var(--widthIcono);
    stroke: var(--colorIcono);
    stroke-width: 2;}
    
.googleApps{
    width: var(--widthIcono);
    fill: var(--colorIcono);}

.lupa{
    fill: var(--colorBlancoGoogle);}

#buscador{
    border-color: var(--colorContornoBuscador);}

.contenedor--googleApps:hover{
    border-radius: 50%;
    background-color: var(--colorHoverIconos);}

.barraDeNavegacion--enlace__accederACuenta{
    color: var(--colorBlancoGoogle);
    letter-spacing: .25px;
    font-size: 1.4rem;
    background-color: var(--colorAzulGoogle);}

.spanEtiqueta{
    color: var(--colorTextoNav);}


.linkBotones{
    color: var(--colorTextoNav);
    font-size: 1.4rem;
    background-color: var(--colorGrisClaroGoogle);}

footer{
    background-color: var(--colorFondoFooter) ;}

.textoFooter, .pais{
    color:var(--colorTextoFooter);}

.pais{
    font-size: 1.5rem;}

.textoFooter{
    font-size: 1.4rem;}



