body{
    width: 100vw;
    height: 100vh;
    display: grid;
    position: relative;
    grid-template-columns: 60% 40%;
    grid-template-rows: 20% 50% 30%;
    grid-template-areas: "h a"
                         "m a"
                         "f a";}

.pantallaDeCarga{ /*pantalla de carga*/
    width: 100vw;
    height: 100vh;
    position: absolute;
    visibility: collapse;
    opacity: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--colorFondo);
    animation: pantallaDeCarga 2s;}

@keyframes pantallaDeCarga {
    0%, 95%{
        opacity: 1;
        visibility: visible; }}

.pantallaDeCarga div{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: var(--colorBase);
    animation: barraDeCarga 1.5s 1.5;}
/* t = t_final / (n + 1) */
.pantallaDeCarga div:nth-child(2){animation-delay: 185.5ms;}
.pantallaDeCarga div:nth-child(3){animation-delay: 375ms;}

@keyframes barraDeCarga {
    0%,100%{ transform: matrix(1,0,0,1,0,0);}
    50%{transform: matrix(-.5,0,0,.5,0,0);}} /* fin pantalla de carga */


header{  /*barra de navegacion*/
    grid-area:h;
    place-self: center;
    z-index: 1;}

header .seccion-barraNav{
    animation: barraNav 2s cubic-bezier(.55,-0.54,.46,1.55);;
    animation-delay: 2s;}

@keyframes barraNav{
    0%{ transform: translateY(-100%);}}/* fin barra de navegacion*/



.seccion-principal{ /*contenido*/
    z-index: 1;
    align-self: center;
    padding-left: 10%;
    grid-area: m;}

.seccion-principal{
    width: 50%;
    max-width: 600px;
    min-width: 200px;
    display: grid;
    gap: var(--separacion-max);}

.principal--contenedor__titulo{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 8fr;}

.principal--contenedor__titulo p{
    margin: auto 0;
    grid-area: 1/2/2/2;}

.principal--contenedor__titulo h1{
    margin: auto 0;
    grid-area: 2/1/3/3;}
    
.seccion-principal{
    animation: seccionPrincipal 2s cubic-bezier(.55,-0.54,.46,1.55);
    animation-delay: 2s;}
    
@keyframes seccionPrincipal{
    0%{
        transform: translateY(-100%);
        opacity: 0;}}/* fin contenido*/




.seccion--lateral{/* aside */
    z-index: 1;
    grid-area: a;
    display: grid;
    grid-template-columns: repeat(2, 1fr);}

.seccion--lateral h2{
    font-size: var(--fuente-xg);
    font-weight: lighter;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin: auto 0;
    transform: rotate(180deg);
    justify-content: center;}

.lateral--contenedor__img{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--colorBase);}

.seccion--lateral img{ 
    width: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    margin: auto;} /* fin aside */




footer{     /*footer*/
    z-index: 1;
    grid-area: f;}

footer{ 
    width: 100%;
    height: 100%;
    background-color: var(--colorBase);
    border-top-right-radius: calc(30vh * .5);}

.contenedor--footer__nav{
    width: 100%;
    height: 100%;}

.footer--nav{
    list-style: none;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-evenly;}

:root{--imgfooter_t:150px;}

.contenedor--footer__nav .footer--nav img{
    width: var(--imgfooter_t);}

.contenedor--footer__nav .footer--nav li:last-child img{
    width: auto;
    height: var(--imgfooter_t);}

.footer--nav li{
    width: var(--imgfooter_t);
    height:inherit;
    display: flex;
    align-items: flex-end;}

.footer--nav li div{
    width: 100%;
    height: 60%;
    border-top-left-radius: calc(var(--imgfooter_t) / 4);
    border-top-right-radius: calc(var(--imgfooter_t) / 4);
    position: relative;
    background-color: var(--colorPrincipal);}

.footer--nav li div img{
    position: absolute;
    right: 0;
    left: 0;
    bottom:40%;
    margin: 0 auto;}/*fin footer*/

